{% extends "layout.html" %}
{% block content %}

<div class="card shadow-sm col-md-5 mx-auto">
    <div class="card-header bg-warning text-dark">
        <h4 class="mb-0">Change Password</h4>
    </div>

<div class="card-body">
    <form method="POST">

        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" required>
        </div>

        <button class="btn btn-success w-100">
            Update Password
        </button>

    </form>
</div>

</div>

{% endblock %}
